body {
    margin: 0px;
}

.topnav {
    background-color: darkblue;
    overflow: hidden;
    padding-bottom: 10px;
    width:100%;
}


.button {
    background-color: lightblue; 
    color: black;
    padding: 15px 32px;
    float:right;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-color:black;
}

.name{
    float: left;
    font-size: 20px;
    color: lightblue;
}


 #title{
   text-align:center;
   font-size:35px;
   color:white;
 }